/*
 *	News Center v1.0
 *	Media Layout for MinDeviceWidth 960px
 *	
 *  This stylesheet works only on a minimal 960px width device. i.e. desktop Mac or PC.
 */
 
#superfish-2-toggle {
	display:none !important;
}
	 
body {
     	background:#CCCCCC;
		margin-top:20px; /*remove later or change to lower 10px */
}
.region-top-advertisement{
	background-color:#ccc;
	margin-left: -1px;
}
#header{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 0;
	background: none repeat scroll 0 0 #fff; /* BN was 333333 */
    width: 1070px; /* bn was 960 */
}

body.front h1{
	display: none;
}

#block-user-login {

}

#block-user-login {
	border: solid 1px #999;
	height: 95px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0 8px;
	width: 282px;
}

#block-user-login .first {
	color:#333;
}

#mobile-logo{
	display: none;
}

#logo {
    display: block;
    margin-left: 25px;
	margin-bottom: 18px;
	min-height: 73px;
	margin-top:23px;
}

#page-wrapper {
    max-width: 1050px;  /* bn was 960 */
    min-width: 1050px;  /* bn was 960 */
    width: 100%;
	position:relative;
  z-index:1;

}

#main-wrapper {
    /*background: url("../images/side.png") repeat-y scroll 724px 0 transparent;*/
	background-color:#fff;
    padding: 10px 10px 0;
	position:relative;
	width: 100%;		
	z-index:1;
}

#header .region-header {
    background: none repeat scroll 0 0 #A685A2; 
    padding:0;
	position:relative;
	z-index:999;
	width: 100% !important;
	margin:0 auto 0 auto;
}

.sidebar-second #content {
    margin-left: 0;
    margin-right: -710px;
    padding-right: 10px;
    width: 720px;
	float: left;
	padding-left:4px;
	z-index:1; 
	}

.region-sidebar-second {    
	color: #666666;
	float: left;
	margin-left: 700px;  /*plus 20*/
	margin-right: -1020px;
	padding: 10px 10px 0 2px;
	width: 310px;
	border-top: none;
}

.region-sidebar-second .section {
    margin: 0 0 0 10px;   
}

#block-multiblock-1{
	/*display: none;*/ /* BN commented out for top search to display on desktop */
}

.region-top-area {
    float: right;
    margin-right: 15px;
    margin-top: 18px;
	}

#block-shortcut-shortcuts ul.menu {
    margin-bottom: 0;
    margin-right: 0;
    padding: 7px 7px 7px 23px;
	list-style-type:circle;
}
#block-system-user-menu ul.menu{

}

#block-system-user-menu ul.menu .leaf {
	border-right: solid 1px #ccc;
	display: block;
	font-size: 12px;
	float: left;
	margin-right: 6px;
	margin-top: -5px;
	padding: 4px 8px;
}
#block-system-user-menu ul.menu .leaf:last-child {
	border-right: none !important;
}
#block-system-user-menu ul.menu .leaf a{
	color:#555;
}
#block-system-user-menu ul.menu .leaf a:hover{
	color:#000;
	text-decoration:underline;
}
/* Main Menu Styles */

#block-menu-menu-news-categories ul li.first {
    margin-left: 4px !important;
}

#block-menu-menu-news-categories {
    margin-bottom: 0;
    width: 960px;
}

#block-menu-menu-news-categories ul {
    height: 28px;
    margin-bottom: 0;
    margin-top: -6px;
    padding-left: 14px;
}

#block-menu-menu-news-categories ul li {
    display: inline-block;
	float: none;
	font-weight: bold;
    height: 28px;
    margin-left: -4px !important;
    margin-top: 0px;
    padding: 0;
    text-transform: uppercase;
	width: auto;
}

#block-menu-menu-news-categories ul li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 23px;
    margin-top: 0;
    padding: 5px 15px 0;
    text-decoration: none;
}

#block-menu-menu-news-categories ul li a.active, #block-menu-menu-news-categories ul li a.active-trail, #block-menu-menu-news-categories ul li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 -1px 1px #292929;
    color: #333333;
    padding-top: 5px;
	padding-left: 15px;
}

/* SlideShow Block Styles */

.image-show {
    background: none repeat scroll 0 0 #000000;
    color: #AAAAAA;
    cursor: default;
    font-size: 0.8em;
    opacity: 0.6;
    padding: 4px 12px 4px 8px;
    position: absolute;
    right: 0;
    top: 7px;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame-row-item {
    border: 1px solid #333333;
    height: 295px;
    width: 700px;
	border-bottom: none;
	overflow: hidden;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame-row-item .views-field-field-image {
    margin-left: -23px;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame .slideshow-overlay {
    background: url("../images/overlay.png") repeat-x scroll 0 bottom transparent;
    bottom: 0;
    color: #FFFFFF;
    position: absolute;
    z-index: 200;
	width: 700px;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame .slideshow-overlay a{    
	color: #CCCCCC;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame .views-field-title {    
    display: block;   
    z-index: 1;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame .views-field-title h2 {
    border-bottom: 1px solid #555555;
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 2px;
    padding-top: 8px;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame .views-field-title h2 a {
   text-decoration: none;   
   text-shadow: 1px 1px 1px #000000;
   color: #FFFFFF;
   width: 681px;
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame .views-field-body-1 {
    clear: both;
    display: none;  /* BN was display block */
    padding: 12px;
    text-shadow: 1px 1px 1px #000000;
    width: 676px;
    z-index: 1;
}

#views_slideshow_cycle_main_home_page-block .views-field-comment-count, #views_slideshow_cycle_main_home_page-block .views-field-created, #views_slideshow_cycle_main_home_page-block .views-field-term-node-tid,  #views_slideshow_cycle_main_home_page-block .views-field-name, #views_slideshow_cycle_main_home_page-block .views-field-field-rate {
    background: url("../images/comment.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0.8em;
    margin-left: 10px;
    padding-left: 20px; 
	float: left;	
	margin-right: 10px;
}

#views_slideshow_cycle_main_home_page-block .views-field-field-rate {
    background: none repeat scroll 0 0 transparent;
    margin-right: 0;
    padding-left: 0;
    width: 158px;
}

#views_slideshow_cycle_main_home_page-block .views-field-field-rate .views-label {
    float: left;
    margin-right: 7px;
}

#views_slideshow_cycle_main_home_page-block .views-field-created{
    background: url("../images/date.png") no-repeat scroll 0 0 transparent;   
}

#views_slideshow_cycle_main_home_page-block .views-field-term-node-tid{
    background: url("../images/tag.png") no-repeat scroll 0 0 transparent;    
}

#views_slideshow_cycle_main_home_page-block .views-field-name{
	background: url("../images/author.png") no-repeat scroll 0 0 transparent;   
}

#views_slideshow_cycle_main_home_page-block .views-slideshow-cycle-main-frame{
	height: 295px !important;
}

.bottom-shadow {
    background: url("../images/bottom-shadow.png") repeat-x scroll 0 0 transparent;
    bottom: -6px;
    height: 6px;
    position: absolute;
    width: 700px;
    z-index: 9;
}


.views_slideshow_cycle_main {
    height: 295px;    
    width: 702px;
}

.view-id-home_page .views-slideshow-controls-bottom {
    border: 1px solid #333333;
    width: 700px;
	border-top: none;
	height: 60px;
}

.view-id-home_page .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    display: inline-block;
    margin-right: -3px;
}

.view-id-home_page .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .selector {
    background: url("../images/slide-active.png") repeat scroll 0 0 transparent;
    height: 27px;
    margin-left: 38px;
    margin-top: -1px;
    position: absolute;
    width: 66px;
	z-index: 10;
}

.view-id-home_page .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-field-field-image .views-content-field-image {
    border-right: 1px solid #333333;
    height: 60px;
    overflow: hidden;
    width: 139px;
}

#views_slideshow_pager_field_item_bottom_home_page-block_4 .views-field-field-image .views-content-field-image {
    width: 140px;
}


/* 
 * "Last Week Most Popular"
 */

#block-views-most-popular-block{
	float: left;
    margin-right: 0;
    margin-top: 0px;
    padding-bottom: 6px;
    width: 220px;
}

#block-views-most-popular-block .view-most-popular {
    border-left: 1px solid #EEEEEE;
    padding-left: 10px;
}

#block-views-most-popular-block h2{
    margin-left: 10px;
}

/*
 * Articles Blocks 
 */

#block-views-articles-categories-block-block, #block-views-articles-block-2-block, #block-views-articles-block-3-block, #block-views-articles-block-4-block, #block-views-articles-block-5-block, #block-views-articles-block-6-block {
    float: left;
    margin-right: 21px;
    margin-top: 0;
    padding-bottom: 5px;
    width: 220px;
}

#block-views-articles-categories-block-block .content, 
#block-views-articles-block-2-block .content,
#block-views-articles-block-4-block .content,
#block-views-articles-block-5-block .content{
    border-right: 1px solid #EEEEEE;
    padding-right: 10px;
    width: 220px;
}


#block-views-most-popular-block .views-row-5, #block-views-most-popular-block .views-row-6 {
    display: none;
}

#block-views-articles-categories-block-block .views-field-totalcount {    
    display: none;    
}

a.back-to-top {    
    display: none;
}

.top-image img{
	width: 212px;
	height: auto;
}

#block-views-articles-images-block .views-row:nth-child(3n + 3), #block-views-articles-images-block .views-row-3, #block-views-articles-images-block .views-row-6, #block-views-articles-images-block .views-row-9, #block-views-articles-images-block .views-row-12, #block-views-articles-images-block .views-row-15, #block-views-articles-images-block .views-row-18{
	margin-right: 0;
}

#block-views-articles-images-block .views-row:nth-child(4n + 4), #block-views-articles-images-block .views-row-4, #block-views-articles-images-block .views-row-8, #block-views-articles-images-block .views-row-12, #block-views-articles-images-block .views-row-16, #block-views-articles-images-block .views-row-20{
	margin-right: 0;
}

#block-views-articles-images-block .views-row:nth-child(6n + 6), #block-views-articles-images-block .views-row-6, #block-views-articles-images-block .views-row-12, #block-views-articles-images-block .views-row-18, #block-views-articles-images-block .views-row-24, #block-views-articles-images-block .views-row-30{
	margin-right: 0;
}

#block-views-articles-images-block .views-row-19, #block-views-articles-images-block .views-row-20{
	display: block;
}

#block-views-articles-images-block .views-row:nth-child(4n + 4) img{
	margin-right: 10px;
}

#block-views-articles-images-block .views-row:nth-child(3n + 3) img{
	margin-right: 10px;
}

#block-views-articles-images-block .views-row:nth-child(6n + 6) img{
	margin-right: 10px;
}

#block-views-articles-images-block .views-row-3 img, #block-views-articles-images-block .views-row-6 img, #block-views-articles-images-block .views-row-9 img, #block-views-articles-images-block .views-row-12 img, #block-views-articles-images-block .views-row-15 img, #block-views-articles-images-block .views-row-18 img{
	margin-right: 0;
}

#block-views-articles-images-block .views-row-4 img, #block-views-articles-images-block .views-row-8 img, #block-views-articles-images-block .views-row-12 img, #block-views-articles-images-block .views-row-16 img, #block-views-articles-images-block .views-row-20 img{
	margin-right: 0;
}



#block-views-articles-images-block .views-row-6 img, #block-views-articles-images-block .views-row-12 img, #block-views-articles-images-block .views-row-18 img, #block-views-articles-images-block .views-row-24 img, #block-views-articles-images-block .views-row-30 img{
	margin-right: 0;
}



#block-views-articles-images-block .views-row img{
	margin-right: 10px;
}

#block-views-articles-images-block .views-row:nth-child(5n + 5) img{
	margin-right: 0;
}

#block-views-articles-images-block .views-row-5 img, #block-views-articles-images-block .views-row-10 img, #block-views-articles-images-block .views-row-15 img, #block-views-articles-images-block .views-row-20 img, #block-views-articles-images-block .views-row-25 img{
	margin-right: 0;
}

#block-views-articles-images-block .views-row {
    float: left;
    margin-bottom: 10px;
    margin-right: 0;
}

#block-views-featured-article-block, .region-content0 .first {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    padding-bottom: 6px;
	padding-right: 10px;
    width: 450px !important; 
}

#block-views-most-popular-block {
    float: left;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 6px;
    width: 227px;
}

.region-slideshow{
	display: block;
}

#block-views-featured-article-block .content, .region-content0 .first .node-side {    
    width: 450px !important;
}

#block-views-articles-images-block {
    clear: both;
    width: 701px;
}

#block-views-articles-images-block {
    clear: both;
    width: 701px;
}

#block-views-articles-images-block .views-row img {
    height: auto;
    width: 124px;
}

/* 
 * RIGHT SIDEBAR REGION BLOCKS 
 *
 * These are the blocks located at the right side of every page. 
 *
 */ 
 
 /* Search Form */

#block-search-form {
	margin-top: 10px;
	width: 300px;
	margin-right: 7px;
}
/*
#block-search-form {
    margin-bottom: 19px;
    padding: 3px;
	position: absolute;
	left: 0;
	top: 130px;
}
*/

#block-search-form #edit-submit{
	
}

#block-search-form .form-text {
    margin-left: 6px;
    padding: 7px 34px 7px 7px;
    width: 80%;  
	color: #CCCCCC;
}

#block-search-form .form-text:focus {
   	color: #333333;
}

#block-search-form .form-actions {
    margin-left: -31px;
    margin-top: 8px;
    position: absolute;
    z-index: 10;
}

#block-search-form .form-submit{
	display:none;
	background: url("../images/search.png") no-repeat scroll 0 0 #fff !important;
	border:medium none;	
    font-size: 0;
    height: 27px;
    width: 30px;
	top: -14px;
	position: relative;
}

/* 
 * Sidebar Advertisement Styles 
 */
 
#block-views-ads-sidebar-block-block h2{
	display: none;
} 

#block-views-ads-sidebar-block-block .view-header a {    
    float: right;    
    margin-bottom: 4px;
    margin-top: -4px;
}

#block-views-ads-sidebar-block-block .views-field-title {    
    margin-bottom: 11px;
    margin-top: -5px;
    text-align: center;
}

#block-views-most-popular-today-block, #block-views-most-popular-all-time-block, #block-views-most-commented-block, #block-views-top-rated-articles-block {
    clear: none;
    float: left;
    margin-right: 20px;
    width: 280px;  /* was 190px */
}

#block-views-ads-sidebar-block-block .view-content a {
    font-size: 0.9em;
    text-align: left !important;
}

#block-views-ads-sidebar-block-block .views-row img {
    border-right: 1px solid #CCCCCC;
    margin-bottom: 5px;
    padding-right: 29px;
	/* bn added: */
	width: 300px;
	height: 250px;
}

#block-views-ads-sidebar-block-block .views-row {
    border-bottom: medium none;
    clear: both;
    margin-bottom: 9px;
    min-height: 114px;
    padding-bottom: 0;
}

/* Footer: Region "First Column" */

#footer {
    background:#333333;
    border-top: 1px solid #999;
    color: #CCCCCC;
    font-size: 0.8em;
	padding:10px;
	width:1050px;
	margin-bottom:10px;
	float:left;
}

.region-footer-first-column, .region-footer-second-column, .region-footer-third-column, .region-footer-fourth-column{
	float: left;
	width: 23%;
	margin-right: 27px;
}

#footer.region.region-footer {
	width:98%;
}

.region-footer-fourth-column{
	margin-right: 0;
}

/* NewsLetter (SimpleNews Module) Block Styles */

.block-simplenews {
    float: left;
    margin-right: 21px;
    width: 220px;
}

.block-simplenews .form-text {
    font-size: 1.3em;
    margin: 4px 0 0;
    padding: 4px 7px;
    width: 190px;
}

/* Recent Posts Block */

#block-views-recent-posts-block {
    float: left;
    margin-right: 21px;
    width: 220px;
}

#block-views-recent-posts-block .view-recent-posts {    
    width: 218px;
}

/* Last Viewed Posts Block */

#block-views-last-viewed-block {
    float: left;
    margin-right: 21px;
    width: 220px;
}

/* Node Full View */

body.node-type-article .node-article .field-name-field-image img {
    border: 1px solid #CCCCCC;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 3px;
	width: 420px;
	height: auto;
}

body.node-type-article .node .submitted {
    border-bottom: 1px solid #CCCCCC;
    color: #777777;
    margin-bottom: 21px;
    margin-top: 3px;
}

#block-widgets-s-addthis-share {
    float: right;
    margin-right: 4px;
    margin-top: 40px;
    position: absolute;
    left: 443px;
}

#block-widgets-s-addthis-share div.widgets-element-horizontal {
    float: left;
    padding: 0 6px;
}

/* Taxonomy Pages */

body.node-type-article h1{
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.5;
	font-size:26px;
	margin-top:0;
}

body.page-taxonomy-term h2 {
    font-size: 13pt;
    margin-bottom: 5px;
    margin-top: -4px;
    padding-bottom: 0;
}

body.page-taxonomy-term .node-teaser .submitted {
    color: #777777;
    margin-bottom: 10px;
    margin-top: 3px;
    padding-bottom: 0;
}

.side {
    border-right: 1px solid #CCCCCC;
    float: left;
    margin-left: 6px;
    margin-right: 12px;
    padding-right: 10px;
    text-align: center;
	display:none;
}
/* .front makes it specific to homepage only */
.front .region-content0 .first .content{
		width:inherit;  
}
.front .node-side, .front .node-side .content {
    float:none;
	width:220px;  
}
.node-side {
    float: left;
	width:94%;
}

.dayD {
    font-size: 1.2em;
	display:none;
}

.day {
    font-size: 2.4em;
    margin-top: -7px;
	display:none;
}

.month {
    font-size: 0.8em;
    margin-top: -5px;
	display:none;
}


/* Images Gallery */

.region-sidebar-second {
	clear: none;
	border-left:solid 1px #ccc;
	width:310px;
	padding-left:10px;
}

.view-images-gallery .views-row{
	float: left;
    margin-top: 0;
    padding-bottom: 5px;
    width: 100%;
	margin-right: 21px;
    margin-top: 0;    
    width: 220px;
}

.view-images-gallery .views-row-3, .view-images-gallery .views-row-6, .view-images-gallery .views-row-9, .view-images-gallery .views-row-12, .view-images-gallery .views-row-15{
	margin-right: 0;
}

.view-images-gallery .views-row-1, .view-images-gallery .views-row-4, .view-images-gallery .views-row-7, .view-images-gallery .views-row-10, .view-images-gallery .views-row-13{
	clear: both;
}

.view-images-gallery .views-row img{	
    padding: 3px;
    border: solid 1px #CCCCCC;
	height: auto;
    width: 212px;
}

.view-images-gallery .views-row h3 {
    border-bottom: 1px dashed #DDDDDD;
    font-size: 14px;
    margin-bottom: 26px;
    margin-top: 6px;
    padding-bottom: 13px;
}

/* homepage views blocks begin */
.front .region-content0 .block{
	border-right: 1px solid#ccc;
float: left;
margin-bottom: 10px;
margin-right: 12px;
width: 220px;
padding-right: 6px;
}
#block-views-9f727cf1d3d469770949fad7aadc99ff{ /* Global Focus block */
	border-right: none;
	margin-bottom: 40px;
	padding-left: 15px;
}

front .region-content0 .block-views.first{
	margin-right:15px !important;
}
front .region-content0 .block-views.last{
	border-right: none !important;
}
.front .field-name-field-article-published-date {
	display: none;
}
/* homepage views blocks end */


/* RESPONSIVE CHANGES */
/* social icons top of page */
.mysocial ul {
	background: #aaa;
}
#block-block-22 div{
	margin-top:inherit !important;
}
#block-search-form {
	position: relative;
	left: 0;
	top: inherit;
}

#block-search-form .form-text {
    width: 80%;
}
.sf-menu li {
	float: left;
}

#header .region-header {
	margin-top: 0;
}
.sf-menu.sf-style-default a, .sf-menu .nolink {
	font-size: 15px;
	padding: 8px 10px 11px 10px;
}

.front #block-views-f8ae3b845371731aa955436f16863d3b { /* FEATURED CONTENT */
	width: 450px !important;
	float: left;
	margin-right: 0;
}
.front #block-views-9f727cf1d3d469770949fad7aadc99ff {
	float: left;
	width: 220px;
}
/* ads in right column in screen layout */
#div-gpt-ad-1373644274034-4{
	float: none;
	margin-right: 0;
}
#div-gpt-ad-1373644274034-0, #div-gpt-ad-1373644274034-1{
	float:none;
	margin-left:0;
}
#block-block-7 div {
	margin-bottom: 20px;
}

#block-user-login .form-actions {
    float: right;
}
#block-user-login {
	border-radius: 5px;
    margin-bottom: 0;
    margin-top: -2px;
}

.royalSlider.default {
	float:left;
	margin:inherit;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section{
	font-size:100%;
}
.bottomContentBanner {
	width: 1050px;
}
.mysocial {
	right: -24px;
	top: 7px;
}
#block-block-22 div{
	margin-right: 20px;
}
.sf-menu.sf-style-default li, .sf-menu.sf-style-default.sf-navbar {
	border-left: none;
}
#block-block-9 img{
	margin-right: 0;
}
.front .block.even {
	padding-left: 15px;
}
